@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Open+Sans:wght@600&display=swap');

body{
    background-color: rgb(93, 88, 88);
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}
.navbar{
    width: 98%;
    weight: 150px;
    background-color: black;
    margin-top: 0.55%;
    display: flex;

}
.contenedores{
    width: 50%;
    height: 150px;
    background-color: rgba(12,12,13,255);
    box-sizing: border-box;

}
.logo{
    width 95%;
    height: 140px;
    margin: 2px 2px 2px 50px; 
}

.subcontenedor{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0%;
    margin-top: 8%;
}

a{
    text-decoration: none;
    color: rgba(255,255,255,255);
    font-size: x-large;
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.section1{
    width: 98%;
    height: 450px;
    background-color: red;
    flex-wrap: wrap;
}